ion-card {
    width: 100px;
    height: 100px;
    margin: auto;
  }

  #card {
    font-size: 3rem !important;
    margin-top:auto;
  }

  #topRow {
    width: 32px;
    height: 32px;
    margin:auto;
  }